<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhords.handycalculator.handycalculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logofinal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logofinal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OurApps"
            android:label="Our Apps"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SuggestFeature"
            android:label="Suggest a feature"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Credits"
            android:label="Credits"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrivacyPolicy"
            android:label="Privacy Policy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SmokeQuit"
            android:label="Back"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FuelMoreInfo"
            android:label="Back"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoanMoreInfo"
            android:label="Back"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DiscountMoreInfo"
            android:label="Back"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TipMoreInfo"
            android:label="Back"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>